extends layout

block content
  h1 All Users
  table
    tr
      th First Name
      th Last Name
      th Eligible?
      th Intent?
    for p in people
      tr
        td= p.firstname
        td= p.lastname
        td= p.eligible
        td
          a(href="/users/#{p.pid}") intent